body{
	background-image: url('../background.jpg');
	color: white;
	opacity: 0;
	animation: fadeIn 1.5s ease-in-out forwards;
	padding-bottom: 300px;
	font-size: 20px;
}
@keyframes fadeIn{
	from { opacity: 0; transform: translateY(20px);}
	to { opacity: 1; transform: translateY(0);}
}
a{
	margin: 0px 50px 0px 50px;
	font-family: 'Helve';
	text-decoration:none;
	color: gray;
	font-size: 20px;
}
a:hover{
	color: #888888;
	text-shadow: 0 0 5px #FFFFFF;
}
header{
	text-align:center;
}
h1{
	text-decoration: underline;
	font-weight: normal;
	margin-bottom: 50px;
	font-family: 'mont';
	text-underline-offset: 10px;
}
li{
	text-decoration:underline;
	margin-bottom: 30px;
	font-family: 'mont';
	text-underline-offset: 10px;
}
h2{
	text-decoration: underline;
	margin: 0px 0px 30px 25px;
	font-family: 'mont';
	text-underline-offset: 10px;
	margin-bottom: 40px;
	font-size: 20px;
	text-align:center;
}
p{
	font-family: 'helve';
	text-align:center;
}
@font-face{
	font-family: 'Helve';
	src: url('../police/helvetica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'mont';
	src: url('../police/montserrat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
footer{
	position : fixed;
	bottom: 0;
	text-align: center;
	font-size: 12px;
}
nav{
	text-align:left;
}
.projet{
	text-align:center;
}